<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/theme.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <title>{{site.title}}</title>
</head>

<body>
  <nav class="navbar navbar-dark bg-dark shadow">
    <div class="container">
      <span class="navbar-brand mb-0 h1"><i class="fas fa-user"></i> {{site.title}}</span>
    </div>
  </nav>
  <main>
    {{ content }}
  </main>
  <footer class="bg-dark text-light mt-4">
    <div class="container pt-2 pb-4">
      <div class="row">
        <div class="col-sm-12">
          <span id="copyright">Copyright &copy; Eric Damtoft {{ 'now' | date: "%Y" }}. Available under <a href="https://github.com/edamtoft/edamtoft.com/blob/master/LICENSE" target="_blank">MIT Licence.</a></span>
        </div>
      </div>
    </div>
  </footer>
  {% for script in page.scripts %}
  <script src="{{script}}"></script>
  {% endfor %}
</body>
</html>